api/var/bootstrap.php.cache
api/var/cache/*
!var/cache/.gitkeep
api/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
api/var/phpunit.xml
/bin/
api/vendor/
api/web/bundles/
docker-compose.dev.yml
